@charset "utf-8";

*{margin: 0px;padding: 0px;}
ol, ul, li{list-style: none;}
body{
  font-family: '맑은 고딕',Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  background-image: url(../public/images/bg.jpg);
  background-repeat: no-repeat;
background-position: center;
background-size: cover;
  
}
button{
  border: none;
}
header{
  text-align: center;
  background-color: #333;
}
a{color: #333;text-decoration: none;
font-size: 16px; width: 15%;}
header a:hover{background-color: #fff;color: #333; font-weight: bold;}
h1{padding: 10px 0px; color: #fff;}
h2{color:#333;line-height: 60px;text-align: center;}
nav{
  display: flex;
  justify-content: space-around;
}
p{text-align: center;}
/* table{
  width: 760px;
} */
 .table-wrapper{
  width: 1000px;
  margin: 0 auto;
 }
nav a{
    color: #fff;
    display: block;
    line-height: 40px;

}
.btn_group{
  width: 100%;
  margin: 0 auto;
}
.btn_group button{
  margin: 20px 0px;
  background-color: #333;
  border: none;
  width: 100px;
  line-height: 40px;
  color: #fff;
  border-radius: 10px;
}
.data_list{
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;

  background-color: #fff;
  border-radius: 10px;
}
.data_list th, .data_list td{
  border-bottom: 1px solid #eee;
  line-height: 40px;
  border-radius: 10px;
  padding: 5px 0px;
}
.data_list td{
  text-align: center;
  border-left: 1px solid #eee;
}
.data_list td:first-child{
  border-left: none;
}
/* .data_list th:first-child{width: 10%;}
.data_list th:nth-child(2){width: 20%;}
.data_list th:nth-child(3){width: 15%;}
.data_list th:nth-child(4){width: 17.5%;}
.data_list th:nth-child(5){width: 17.5%;}
.data_list th:nth-child(6){width: 20%;} */
.data_list button{
  margin: 0px 5px;
  width: 60px;
  line-height: 30px;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn{text-align: center;}
.del_btn{
  background-color: orangered;
}
.u_btn{
  background-color: #333;
}

/* 로그인 영역 */
.login{width: 300px; margin: 0 auto;}
.login>p{padding: 5px 0px;}
.login>p>label{display: none;}
.login>p>input{width: 100%; height: 40px; border: 1px solid #ccc; text-indent: 5px; border-radius: 5px;}
#login_btn{
  width: 100%;
  background-color: #333;
  color: #fff;
}
.login a{
  margin-left: 5px;
  text-align: center;
}
.login a:hover{
  background-color: none;
  text-decoration: underline
}